*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f8fafc;
color:#1e293b;
}

header{
padding:20px 80px;
background:white;
box-shadow:0 2px 15px rgba(0,0,0,.08);
position:sticky;
top:0;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
color:#2563eb;
font-size:30px;
}

nav ul{
display:flex;
list-style:none;
gap:30px;
}

nav ul li a{
text-decoration:none;
color:#1e293b;
font-weight:600;
transition:.3s;
}

nav ul li a:hover{
color:#2563eb;
}

#theme-btn{
padding:10px 16px;
font-size:18px;
border:none;
background:#2563eb;
color:white;
border-radius:8px;
cursor:pointer;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero h1{
font-size:60px;
margin-bottom:15px;
}

.hero span{
color:#2563eb;
}

.hero h2{
font-size:32px;
margin-bottom:20px;
}

.hero p{
font-size:22px;
color:#64748b;
margin-bottom:40px;
}

.buttons{
display:flex;
gap:20px;
}

button{
padding:15px 30px;
border:none;
border-radius:10px;
background:#2563eb;
color:white;
font-size:17px;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:translateY(-5px);
}

.contact-btn{
background:#0f172a;
}
.dark{
background:#0f172a;
color:white;
}

.dark header{
background:#1e293b;
}

.dark nav ul li a{
color:white;
}

.dark .hero p{
color:#cbd5e1;
}

.dark .contact-btn{
background:#334155;
}
